In [1]:
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
df1 = pd.read_csv('./training-dataset.csv', delimiter=',')
df1.dataframeName = 'training-dataset.csv'
nRow, nCol = df1.shape
print(f'There are {nRow} rows and {nCol} columns')

There are 54099 rows and 2 columns

In [2]:
df1.head(10)

  sentiment                                         tweet_text
0       joy  i suppose i am happy being so tiny; it means i...
1       joy  lennox has always truly wanted to fight for th...
2       joy  he was a professional musician now, still sens...
3       joy  holmes is happy having the freedom of the hous...
4       joy  i had problems with tutors trying to encourage...
5       joy  these days he is quite happy travelling by tro...
6       joy               i am really happy in the group now.
7       joy  i was given a dummy in which to do my prelimin...
8       joy  i must say i was not totally happy about her g...
9       joy  indeed, the two m boys themselves were not tot...

In [15]:
filepath = "./training-dataset.csv"
df = pd.read_csv(filepath,names=['sentiment', 'tweet_text'], delimiter=',')
df = df.drop(0)
df.insert(0, 'id', range(len(df)), allow_duplicates=False)
df.rename(columns={'sentiment':'category', 'tweet_text':'text'})

          id category                                               text
1          0      joy  i suppose i am happy being so tiny; it means i...
2          1      joy  lennox has always truly wanted to fight for th...
3          2      joy  he was a professional musician now, still sens...
4          3      joy  holmes is happy having the freedom of the hous...
5          4      joy  i had problems with tutors trying to encourage...
...      ...      ...                                                ...
54095  54094  disgust  This is what a Pennridge school board member t...
54096  54095  disgust  Washington DC Esta señora está en desacuerdo c...
54097  54096  disgust  Un sujeto intentó arrollar a persona que con s...
54098  54097  disgust  Los medios corporativos han apagado el movimie...
54099  54098  disgust  SHAME, Take this trash off the shelf in all yo...

[54099 rows x 3 columns]

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54099 entries, 1 to 54099
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          54099 non-null  int64
 1   sentiment   54099 non-null  object
 2   tweet_text  54099 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.7+ MB

In [17]:
df.head(10)

    id sentiment                                         tweet_text
1    0       joy  i suppose i am happy being so tiny; it means i...
2    1       joy  lennox has always truly wanted to fight for th...
3    2       joy  he was a professional musician now, still sens...
4    3       joy  holmes is happy having the freedom of the hous...
5    4       joy  i had problems with tutors trying to encourage...
6    5       joy  these days he is quite happy travelling by tro...
7    6       joy               i am really happy in the group now.
8    7       joy  i was given a dummy in which to do my prelimin...
9    8       joy  i must say i was not totally happy about her g...
10   9       joy  indeed, the two m boys themselves were not tot...

In [18]:
df.to_csv('./Sentiment-Analysis/Black_dataset.csv', header=False)

In [19]:
filepath = './Sentiment-Analysis/Black_dataset.csv'
df = pd.read_csv(filepath, names=['id', 'category', 'text'])

In [20]:
df.head(10)

    id category                                               text
1    0      joy  i suppose i am happy being so tiny; it means i...
2    1      joy  lennox has always truly wanted to fight for th...
3    2      joy  he was a professional musician now, still sens...
4    3      joy  holmes is happy having the freedom of the hous...
5    4      joy  i had problems with tutors trying to encourage...
6    5      joy  these days he is quite happy travelling by tro...
7    6      joy               i am really happy in the group now.
8    7      joy  i was given a dummy in which to do my prelimin...
9    8      joy  i must say i was not totally happy about her g...
10   9      joy  indeed, the two m boys themselves were not tot...

In [1]:
class_names = ["joy","sadness","superise","disgust","anger", "fear", "trust", "anticipation"]

In [2]:
label_dict = {}
for i, sentiment in enumerate(class_names):
    label_dict[i] = sentiment
label_dict

{0: 'joy',
 1: 'sadness',
 2: 'superise',
 3: 'disgust',
 4: 'anger',
 5: 'fear',
 6: 'trust',
 7: 'anticipation'}

In [3]:
import io
review_text = "sentiment in enumerate(class_names):"
file_obj = io.StringIO(review_text)
files = {"file": ("review.txt", file_obj)}

In [4]:
print(type(files))

<class 'dict'>

In [14]:
print(files['file'][1].getvalue())

sentiment in enumerate(class_names):

In [31]:
import pandas as pd
from sklearn.model_selection import train_test_split
def get_df(filepath: str) -> pd.DataFrame:
    # Task 1: Exploratory Data Analysis and Preprocessing
    df = pd.read_csv(filepath,
        names=['id', 'category', 'text'])
    # Whether to modify the DataFrame rather than creating a new one.
    df.set_index('id', inplace=True)
    possible_labels = df.category.unique()
    label_dict = {}

    for index, possible_label in enumerate(possible_labels):
        label_dict[possible_label] = index
    df["label"] = df.category.replace(label_dict)

    # Task 2: Training/Validation Split
    X_train, X_val, y_train, y_val = train_test_split(
        df.index.values,
        df.label.values,
        test_size=0.15,
        random_state=17,
        stratify=df.label.values # divide all categories with the set proportion
    )

    df['data_type'] = ['not_set']*df.shape[0]

    df.loc[X_train, 'data_type'] = 'train'
    df.loc[X_val, 'data_type'] = 'val'
    return df, label_dict

In [32]:
df, dic = get_df('./data/Black_dataset.csv')

In [33]:
print(df)

      category                                               text  label  \
id
0          joy  i suppose i am happy being so tiny; it means i...      0
1          joy  lennox has always truly wanted to fight for th...      0
2          joy  he was a professional musician now, still sens...      0
3          joy  holmes is happy having the freedom of the hous...      0
4          joy  i had problems with tutors trying to encourage...      0
...        ...                                                ...    ...
54094  disgust  This is what a Pennridge school board member t...      3
54095  disgust  Washington DC Esta señora está en desacuerdo c...      3
54096  disgust  Un sujeto intentó arrollar a persona que con s...      3
54097  disgust  Los medios corporativos han apagado el movimie...      3
54098  disgust  SHAME, Take this trash off the shelf in all yo...      3

      data_type
id
0         train
1           val
2         train
3         train
4           val
...         ...
54094       val
54095     train
54096     train
54097     train
54098     train

[54099 rows x 4 columns]

In [27]:
print(a)

tensor([[1.]])